[Unit]
Description=eltrain-bot service

[Service]
Restart=always
EnvironmentFile=-/home/eltrain-bot/env
WorkingDirectory=/home/eltrain-bot/go/src/eltrain-bot/builds
ExecStart=/home/eltrain-bot/go/src/eltrain-bot/builds/runner_linux_amd64
LimitNOFILE=1048576
LimitNPROC=1048576
User=eltrain-bot
Group=eltrain-bot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=eltrain-bot

[Install]
WantedBy=multi-user.target
